* {
  font-family: Arial, sans-serif;
  margin: 20px;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
}

/* Contenido principal */
#main-content {
  width: 100%;
  padding: 15px;
}

header {
  background-color: #eff37e;
}

section {
  flex: 3;
  background-color: #288e16;
}

/* Sidebar oculto en móviles */
.sidebar {
  display: none;
}

footer {
  background-color: #ecf380;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #090b8b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #a7c957;
  color: #386641;
}

/* Flex-wrap: permite que los items se envuelvan a la siguiente línea si no caben en una sola línea */
.container {
  display: flex;
  flex-direction: column;
}

.box {
  background-color: #7970f3;
  padding: 20px;
  margin: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* ===== TABLETS ===== */
@media (min-width: 600px) and (max-width: 1024px) {
  body {
    font-size: 18px;
  }

  .container {
    flex-direction: row;
  }

  .sidebar {
    display: block;
    width: 30%;
    background-color: #f4f4f4;
    padding: 10px;
  }

  .main-content {
    width: 70%;
  }
}

/* ===== DESKTOP ===== */
@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .sidebar {
    width: 25%;
  }

  .main-content {
    width: 75%;
  }
}

@media (orientation: landscape) {
  body {
    background-color: #eaeaea;
  }
}
