* {
  font-family: Arial, sans-serif;
  margin: 20px;
}

body {
  line-height: 1.6;
  background-color: #dda15e;
}

/* Selector de clase*/
.class_selector {
  font-size: 40px;
  color: #9031d9;
  font-weight: bold;
}

/* Selector de clase*/
#id_selector {
  font-size: 35px;
  color: #15071f;
  font-style: italic;
}

/* Combinación de selectores */
#selectores_universal_combinaciones {
  font-size: 25px;
  color: #144a16;
}

#selectores_universal_combinaciones p {
  color: #9b1414;
  font-size: 23px;
}

#selectores_universal_combinaciones ul li strong {
  color: #19468d;
  font-size: 10px;
}

/*Si tiene una coma no es una combinación de selectores, es un selector múltiple.*/
p,
li {
  color: #30054e;
  font-size: 20px;
}

.display_block {
  margin: 10px 0 10px 0;
  display: block;
  background-color: #067391;
}

.display_inline {
  margin: 25px 0 25px 0;
  display: inline;
  background-color: #171616;
  color: aliceblue;
}

.display_inline_block {
  margin: 25px 0 25px 0;
  display: inline-block;
  background-color: #902121;
}

.display_inline_block_2 {
  margin: 25px 0 25px 0;
  display: inline-block;
  background-color: #9ba21b;
}

.pseudo_hover {
  background-color: rgb(158, 19, 151);
  color: #ffffff;
  border-radius: 15px;
  border: 2px solid #a7c957;
  font-size: 20px;
  padding: 25px 10px 25px 10px;
}

.pseudo_hover:hover {
  background-color: #62c957;
  color: #14301a;
  border: 2px solid #2dcbc4;
  font-size: 20px;
}

.pseudo_focus {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #262e57;
}

.pseudo_focus:focus {
  background-color: #7ee065;
  border: 2px solid #78240a;
}

.pseudo_active {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #16106b;
  background-color: rgba(88, 182, 97, 0.5);
}

.pseudo_active:active {
  background-color: #971616;
  border: 2px solid #110f0f;
}

/* Propiedades basicas de texto 
p{
    text-align: justify; /* se alinea el texto dependiendo de el valor que se le asigne 
    text-decoration: underline; /* subraya el texto, también puede ser line-through para tachar el texto o overline para poner una línea encima del texto 
    text-transform: uppercase; /* transforma el texto dependiendo del valor que se le asigne, puede ser lowercase para poner todo el texto en minúscula o capitalize para poner la primera letra de cada palabra en mayúscula
    letter-spacing: 2px; /* a g r e g a  espacio entre cada letra, el valor se puede asignar en px, em, rem, etc. 
    word-spacing: 10px; /* agrega   espacio   entre   cada palabra, el valor se puede asignar en px, em, rem, etc. 
}
*/
/* Propiedades basicas de fuente */
h2 {
  font-family:
    "Courier New", Courier, monospace; /* cambia la fuente del texto, se pueden asignar varias fuentes, si la primera no está disponible se usará la siguiente */
  font-size: 40px; /* cambia el tamaño de la fuente, el valor se puede asignar en px, em, rem, etc. */
  font-weight: bold; /* cambia el grosor de la fuente, el valor puede ser normal, bold, bolder, lighter o un número del 100 al 900 */
  font-style: italic; /* cambia el estilo de la fuente, el valor puede ser normal, italic o oblique */
}

/* Propiedades basicas de color */
div {
  color: #410303; /* cambia el color del texto, el valor se puede asignar en hexadecimal, rgb, rgba, hsl, hsla, etc. */
  background-color: #57c9bf; /* cambia el color de fondo del elemento, el valor se puede asignar en hexadecimal, rgb, rgba, hsl, hsla, etc. */
}

h1 {
  text-align: center;
  font-weight: bold;
  color: #386641;
}

.card_image {
  width: 50%; /* cambia el ancho de la imagen, el valor se puede asignar en px, em, rem, etc. */
  border-radius: 15px; /* redondea las esquinas de la imagen, el valor se puede asignar en px, em, rem, etc. */
}

/* las unidades de medida son: 
px (píxeles), 
em (relativo al tamaño de la fuente del elemento), 
rem (relativo al tamaño de la fuente raíz),
% (porcentaje del tamaño del elemento padre),
vw (viewport width, porcentaje del ancho de la ventana), 
vh (viewport height, porcentaje de la altura de la ventana) */

.card {
  width: 600px;
  background-color: #ebdbf2;
  border-radius: 15px;
  display: inline-block;
  margin: 10px;
  border: blue solid 5px;
  /* margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 5px;*/
  /* margenes todo en una sola linea de codigo */
  /* margin: 15px 30px 45px 60px;  margin: top right bottom left los valores se asignan como manecilla de reloj */
  /* margin: 30px 60px; margen en la parte arriba y abajo de 30px y en la parte izquierda y derecha de 60px */
  padding: 15px 30px;
  /* al igual que los margenes, el padding se puede asignar en una sola linea de codigo */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* agrega una sombra al elemento, 
    el valor se asigna en px para el desplazamiento horizontal y vertical, 
    el desenfoque y el color de la sombra */
}

.card-body {
  padding: 15px;
}

.card-body h3 {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: bold;
  color: #9c0411;
  text-align: center;
}

.card-body p {
  text-align: justify; /* el valor important hace que esta propiedad tenga prioridad sobre cualquier otra propiedad que se le asigne al mismo elemento */
  font-size: 20px;
  color: #08067a;
}
