* {
  font-family: Arial, sans-serif;
  margin: 20px;
}

body {
  line-height: 1.6;
  background-color: #dda15e;
}

/* Selector de clase*/
.class_selector {
  font-size: 40px;
  color: #9031d9;
  font-weight: bold;
}

/* Selector de clase*/
#id_selector {
  font-size: 35px;
  color: #15071f;
  font-style: italic;
}

/* Combinación de selectores */
#selectores_universal_combinaciones {
  font-size: 25px;
  color: #144a16;
}

#selectores_universal_combinaciones p {
  color: #9b1414;
  font-size: 23px;
}

#selectores_universal_combinaciones ul li strong {
  color: #19468d;
  font-size: 10px;
}

/*Si tiene una coma no es una combinación de selectores, es un selector múltiple.*/
p,
li {
  color: #30054e;
  font-size: 20px;
}

.display_block {
  margin: 10px 0 10px 0;
  display: block;
  background-color: #067391;
}

.display_inline {
  margin: 25px 0 25px 0;
  display: inline;
  background-color: #171616;
  color: aliceblue;
}

.display_inline_block {
  margin: 25px 0 25px 0;
  display: inline-block;
  background-color: #902121;
}

.display_inline_block_2 {
  margin: 25px 0 25px 0;
  display: inline-block;
  background-color: #9ba21b;
}

.pseudo_hover {
  background-color: rgb(158, 19, 151);
  color: #ffffff;
  border-radius: 15px;
  border: 2px solid #a7c957;
  font-size: 20px;
  padding: 25px 10px 25px 10px;
}

.pseudo_hover:hover {
  background-color: #62c957;
  color: #14301a;
  border: 2px solid #2dcbc4;
  font-size: 20px;
}

.pseudo_focus {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #262e57;
}

.pseudo_focus:focus {
  background-color: #7ee065;
  border: 2px solid #78240a;
}

.pseudo_active {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #16106b;
  background-color: rgba(88, 182, 97, 0.5);
}

.pseudo_active:active {
  background-color: #971616;
  border: 2px solid #110f0f;
}
